.main-background{
    background-color: lightyellow;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.list-form{
    margin: 20px;
}

.item-form {
    margin: 20px;
    font-size: 15px;
}

.item-form label {
    font-size: 20px;
    margin-top: 10px;
}

p.optional{
    display: inline;
    font-size: 15px;
}

.list-image{
    width: 80px;
    height: 80px;
}

.list-item-details{
    text-align: left;
    padding-left: 20px;
}

.title{
    text-decoration: underline;
    margin-top: 20px;
}

div.list-div{
    width: 40%;
    margin: 40px auto 40px;
}

.list-link:hover{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.list-link{
    color: black;
    /* font-family: 'Courier New', Courier, monospace; */
}

h3.list-link{
    display: inline;
}

.list-info{
    margin-top: 50px;
}

label{
    font-size: 30px;
}

.add-item-select{
    padding: 7px;
}

button.form-btn{
    border: 2px solid black;
    font-size: 20px;
    width: 100px;
    font-weight: bold;
}

button.add-item{
    border: 1px solid black;
    font-size: 15px;
    width: 70px;
    font-weight: bold;
    margin-top: 5px;
}
button.delete-item{
    border: 1px solid black;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
    width: 35px;
    align-items: center;
}

.navbar a{
    color: black;
}

.navbar a:hover{
    color: black;
    font-weight: bold;
}

.container{
    text-align: center;
}



