{% extends 'grocery_list/base.html' %}
{% block body %}

<h1 class="title" >All Your Items</h1>

{% for item in items %}

    <div class="list-div">
        <div class="row">

            <div class="col-md-2 offset-md-3">
                <img src="{{item.item_image}}" class="list-image" alt="">
            </div>

            <div class="col-md-3">
                <a href="{% url 'grocery_list:item' item.id  %}" class="list-link"><h3 class="list-link">{{item.item_name}}</h3></a>
                <div class="list-item-details">
                    <h6>Calories: {{item.total_calories}}</h6>
                    <h6>Price: {{item.item_price}}</h6>
                </div>
            </div>

             <div class="col-md-1">
                <form action="" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="item" value="{{item.id}}">
                    <input type="hidden" name='req-type' value="to-delete">
                    <button class="btn delete-item">X</button>
                </form>
            </div>          

        </div>
    </div>

{% endfor %}
{% endblock %}