{% extends 'grocery_list/base.html' %}
{% block body %}

<div class="detail-item">





 {% comment %} <div class="row">
    <div class="col-md-2 offset-md-3"> {% endcomment %}
        <img src="{{item.item_image}}" class="detail-image" alt="">
    {% comment %} </div> {% endcomment %}

        <h3 class="">{{item.item_name}}</h3>
        <div class="item-details">
            <h4>Calories: {{item.item_calories}}</h4>
            <h4>Price: {{item.item_price}}</h4>
            <h4>Protein: {{item.item_protien}}</h4>
            <h4>Fat: {{item.item_fat}}</h4>
            <h4>Carbs: {{item.item_carbs}} </h4>
        </div>
            
            
        <div class="col-md-1">
            
        </div>
    </div>
        
</div>



{% endblock %}