{% extends 'grocery_list/base.html' %}
{% block body %}


<h1 class="title" >{{list}}</h1>

{% for item in list_items %}

    <div class="list-div">
        <div class="row">
            <div class="col-md-2 offset-md-3">
                <img src="{{item.item_id.item_image}}" class="list-image" alt="">
            </div>
            <div class="col-md-3">
                <a href="{% url 'grocery_list:item' item.item_id.id  %}" class="list-link"><h3 class="list-link">{{item.item_id.item_name}}</h3></a>
                <div class="list-item-details">
                    <h6>Calories: {{item.total_calories}}</h6>
                    <h6>Price: {{item.total_cost}}</h6>
                    <h6>Quantity: {{item.quantity}}</h6>
                </div>
                
                
            </div>
            <div class="col-md-1">
                <form action="" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="item" value="{{item.id}}">
                    <input type="hidden" name='req-type' value="to-delete">
                    <button class="btn delete-item">X</button>
                </form>
                
            </div>
        </div>
        
        </div>
    </div>
    

{% endfor %}

<form action="" method='POST'>
    {% csrf_token %}
    <select name="new_item" id="user_items" class="add-item-select" required>
        <option disabled selected value>Add Item</option>
        {% for item in all_items %}
            <option value="{{item.id}}">{{item.item_name}}</option>

        {% endfor %}
        <input type="hidden" name="req-type" value="to-post">
    </select> <br>
    <button class="btn add-item">Add</button>
</form>

<div class="list-info">
    <h2>List Total: ${{list_total}}</h2>
    <h2>Total Calories: {{calories}}</h2>
</div>


{% endblock %}

