{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'grocery_list/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>
<body class="main-background">
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="">Username: </label>
        <input name="username" type="text"> <br>

        <label for="">Password: </label>
        <input name="password" type="password"> <br>

        <button type="submit" class="btn form-btn">Login</button>
            
    </form>    
</body>
</html>