{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'grocery_list/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>
<body class="main-background">
    <h1>Create An Account</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="signup-form">
        {% comment %} <div class="inner-form"> {% endcomment %}
            <label class="signup-label" for="">Username: </label>
            <input name="username" type="text"> <br>

            <label class="signup-label" for="">Email: </label>
            <input name="email" type="text"> <br>

            <label class="signup-label" for="">Password: </label>
            <input name="password1" type="password"> <br>

            <label class="signup-label" for=""> Confirm: </label>
            <input name="password2" type="password"> <br>
         </div>
        
        <button type="submit" class="btn form-btn register-submit">Create</button>
       </div>
        
            
    </form> 
    {% comment %} {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} login-alert">
                <h2>{{message}}</h2>            
            </div>

        {% endfor %}
    {% endif %}
    <a class="btn create-account-btn">Create New Account</a> {% endcomment %}

</body>
</html>